
.phonegap.main-view {
  position: relative;
  background: #fff;
}

.phonegap .install-container {
  position: relative;
  padding: 20px 10px 0 10px;
  width: 600px;
  height: calc(100% - 55px);
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px;
  margin: 0 auto;
  overflow: auto;
}

.phonegap .install-container .toggle-button {
  position: absolute;
  top: 146px;
  right: 12px;
  z-index: 4;
}

.phonegap .install-container .logo {
  width:200px;
  left:50%;
  position:relative;
  margin-left:-110px;
  margin-top:10px;
}

.phonegap .install-container .terminal {
  background:#333;
  height:0;
  max-height:400px;

  -webkit-transition: height .3s ease-in;
  -moz-transition: height .3s ease-in;
  -o-transition: height .3s ease-in;
  transition: height .3s ease-in;
}

.phonegap .install-container .terminal.in {
  height:400px;
}

.phonegap .install-container .main-button {
  margin:15px;
  left:50%;
  width:250px;
  min-height: 30px;
  margin-left:-125px;
}

.phonegap .install-container .main-button.loading > .button-title {
  visibility: hidden;
}

.phonegap .install-container .progressbar-container {
  margin:10px 0 0 0;
  height:30px;
  border:none;
  border-radius:none;
}

.phonegap .install-container .progressbar-container .bar {
  background:#1AAF5D;
  border-radius:0;
}

.phonegap .install-container .progressbar-container > .dark-label
{
  font-size:14px;
  top:8px;
  left:8px;
  text-align:left;
}

.phonegap .install-container .phonegap-help {
  margin-top: -5px;
  font-size: 14px;
  line-height: 1.7;
  color:#555;
}

.phonegap .install-container .phonegap-help p {
  padding: 5px 0;
}

.phonegap .install-container .phonegap-help img {
  width: 100%;
}

.phonegap .install-container .phonegap-help strong {
  text-decoration: none;
  font-weight: bold;
}

.phonegap .install-container .bar > .light-label
{
  font-size:14px;
  top:8px;
  left:8px;
  text-align:left;
  text-decoration:none;
  width: 100% !important;
}

.phonegap .work-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.phonegap .work-container .download-view {
  position: absolute;
  right: 0;
  top:55px;
  height: calc(100% - 55px);
  width: 40%;
  color: #333;
  font-size: 16px;
  line-height: 18px;
  overflow: auto;
}

.phonegap .work-container .logo {
  width: 30%;
  margin: 30px auto 0 auto;
  display:block;
}

.phonegap .work-container .helper {
  padding: 30px 20px;
}

.phonegap .work-container .helper p {
  padding: 10px 0;
}

.phonegap .work-container .helper a {
  text-decoration: none;
  color: #185334;
}

.phonegap .work-container .helper a:hover {
  text-decoration: underline;
}

.phonegap .work-container .helper .links a {
  line-height: 25px;
}

.phonegap .work-container .helper strong {
  text-decoration: none;
  font-weight: bold;
}

.phonegap .work-container .helper img {
  width: 80%;
  margin: 15px auto;
  display: block;
}

.phonegap .work-container .helper ul {
  list-style-type: disc;
}

.phonegap .work-container .helper ul li {
  margin: 0 0 10px 30px;
}

.phonegap .work-container .helper .code {
  margin: 10px 0;
  padding: 10px;
  color: #ededed;
  background: #1B2224;
  font-size: 12px;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.phonegap .work-container .helper .separator {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin: 20px 0;
}

.phonegap .work-container .editor-view {
  position: absolute;
  left:0;
  top:55px;
  width:60%;
  height: calc(50% + 70px);
}

.phonegap .work-container .terminal-view {
  position: absolute;
  background: #333;
  top: calc(50% + 125px);
  height: calc(50% - 125px);
  left: 0;
  width: 60%;
  border-top: solid 2px #1B2224;
}

.phonegap .work-container .inner-header {
  background: #282F31 !important;
  border-bottom: 1px solid #185334 !important;
}

.phonegap .work-container .inner-header .title {
  display: inline-block;
  float: left;
  padding: 11px;
  font-weight: 300;
  color: #fff;
}